@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap');

*,
*:before
*:after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --main-color:#64FFDA;
    --secondary-color:#048D3F;
    --tertiary-color:#919090;
    --white:white;
    --black:black;
    --hover-button: #048d3fc1;

    --main-font:'Rubik', sans-serif;

}
main {
    background-image: url(images/pexels-adrien-olichon-2387793.png);
    position: cover;
    background-size: cover;
    background-attachment: fixed; 
}
html {
    scroll-behavior: smooth;
}
html,body {
    background-color: black;
    font-family: var(--main-font);
    color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    min-height:100vh;
}
section {
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 100vh;
}
.flags {
    margin-top: 10px;
    margin-left: 10px;
}
.bar {
    width: 100%;
    position: fixed;
    top: 10px;
    left:0;
    right: 0;
    z-index: 1;

}
#section1 {
    min-height: 100vh;
}

nav li {
    display: inline-block;
    padding: 0px 20px;

}
nav li a {
    position: relative;
    text-decoration: none;
    color: var(--tertiary-color);
    font-size: 1.3em;
    padding: 0 10px;
    cursor: pointer;

}   
nav li a:after {
    content: "";
    position: absolute;
    background-color: var(--main-color);
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}
nav li a:hover{
    color: white;
    text-decoration: none;
}
nav li a:hover:after {
    width: 100%;
}

nav {
    text-align: right;
    margin: 10px 10px 0 0;
}
span {
    color: var(--main-color);
    text-decoration: underline;
}
.about_front {
    padding: 5px;
    font-size: 1em;
    font-weight: 200;
    text-align: justify;
}
.flex_right h2 {
    color: var(--main-color);
    font-weight: 200;
}
.flex_right h1 {
    font-weight: bolder;
}
.flex_right > p {
    line-height: 1.5em;
}
.flex_right h1, h2 {
    line-height: 1em;
}
.flex_container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0; bottom: 0;   
}
/* zoom in zoom out profile pic */
.flex_left {
    margin: 0 20px 0 20px;
    padding: 5px;
    overflow: hidden;
}
.flex_left img {
   -webkit-transition: -webkit-transform .3s ease;
   transition: transform .3s ease;
}
.flex_left:hover img {
    -webkit-transform: scale(1.1);
   transform: scale(1.1);
}
/* zoom in zoom out profile pic */
  
.flex_right {
    width: 33%;
}
button {
    padding: 9px 25px;
    background-color: var(--secondary-color);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-size: 1em;
    -webkit-transition: -webkit-transform .3s ease;
    transition: transform .2s ease;
 
}

button:hover {
    background-color: var(--hover-button);
    -webkit-transform: scale(1.1);
   transform: scale(1.1);
}
.buttons {
    padding-top:10px
    
}
.cta1 {
    padding-left:100px;
}
.cta2 {
    padding-left:80px;
}
#section2 {
    background-color: black;
    min-height: 100vh;
    color: white;
}
/* PORTFOLIO SECTION STYLE */
.container-projects {
    display: grid;
    grid-template-columns: repeat(3,3fr);
    grid-auto-rows: 300px;
    padding: 5px;
    grid-gap: 10px;
    margin-left: 50px;
    margin-top: 20px;
}

.item-projects {
    position: relative;
    max-width: 31vw;
    max-height: 38vh;
    margin:auto;
    -webkit-transition: -webkit-transform .3s ease;
   transition: transform .2s ease;
   
}
.item-projects:hover  {
    -webkit-transform: scale(1.1);
   transform: scale(1.1);
}
.item-projects .img-projects {
    width: 85%;
    height: 90%;
    object-fit: cover;
    border-radius: 5px;   
}
.item-projects .title-projects {
    position: absolute;
    background-color: var(--secondary-color);
    left: 0;
    bottom: 0;
    width: 85%;
    color: white;
    padding: 10px;
    font-size: 16pt;
    text-decoration: none;
    text-align: center;
    border-radius: 0px 0px 5px 5px;
}
/* END PORTFOLIO STYLE */
footer {
    text-align: center;
    background-color: rgb(0, 0, 0);
    color: white;
    opacity: 90%;
}
a {
    text-decoration: none;
    color: rgb(62, 148, 230);
}
a:hover {
    color: white;
    text-decoration: underline;
}
@media (max-width:768px) {
    .container-projects {
        grid-template-columns: repeat(1,1fr);
        grid-auto-rows: 50vh;
    }
}

#section3 {
    background-color: white;
    min-height: 100vh;
    color: black;
}
#section4 {
    background-color: black;
    min-height: 100vh;
    color: white;
}
.title2, .title3, .title4 {
    text-align: center;
    margin: auto;
    font-size: 3em;
    font-weight: bolder;
    text-transform: uppercase;
}


.coded {
    text-decoration: none;
    color:var(--tertiary-color) ;
}
.coded:hover {
    color: var(--main-color);
    text-decoration: underline;
    cursor: pointer;
}

footer {
    padding-bottom: 0;
    margin-top: auto;
    padding-bottom: 0px;
    font-weight: 200;
    color: var(--tertiary-color);
    
}
.copyright {
    float: right;
    padding-right: 20px;
}
.socialfooter {
    text-decoration: none;
    float: left;
    padding-left: 20px;
    color:var(--tertiary-color);
}
.socialfooter:hover {
    color: var(--main-color);
    text-decoration: underline;
    cursor: pointer;
    
}
/* Titles animation */

.title1, .title2, .title3, .title4 {
    visibility: hidden;
}

/*Sections animation */

.portfolio{
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}
.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}
@media(prefers-reduced-motion){
    .content {
        transition: none;
    }
}