@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Poppins:wght@300;400;500;600;700;800&display=swap");

/*Website themes */

:root {
    --color1: #FFFFFF;
    --color2: #9e9d9d;
    --color3: #000000;
    --color4: hsl(0, 0%, 11%);
    --color5: #754ef9;
    --color6: #333;
    --color7: #efefef;
    --color8: #a7a6a6;
    --color9: rgba( 0, 0, 0, .2);
    --font-color: #333;
    --section-padding: 7rem;
    --font1: 'Poppins', sans-serif;
    --font2: 'Rubik', sans-serif;
}

/* General settings */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: var(--font1);
}

html {
    width: 100vw;
    height: 100vh;
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: var(--color7);
    color: var(--color4);
}

/* Sections */
section {
    min-height: 100vh;
    pad: 10rem 7%;
    padding-top: 2rem;
}
span {
    color: var(--color5);
}

/* Header */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem;
    background: transparent;
    transition: 0.3s;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background: var(--color8);
    transition: .5s; 
}
.header.sticky {
    background-color: var(--color1);
    box-shadow: 0 .1rem 1rem var(--color9)
}
.logo {
    font-size: 2.5rem;
    color: var(--color5);
    font-weight: 600;
    cursor: default;
    /* margin-right: auto; joga os outros itens de nav para direita*/
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;

}

.navbar a {
    position: relative;
    font-size: 1.7rem;
    color: var(--color1);
    font-weight: 500;
    margin-right: 3.5rem;
    text-decoration: none;
}
.header.sticky  .navbar a {
    color:var(--color6);
}
.header.sticky  .navbar a.active {
    color: var(--color5);
}

.navbar a:last-child {
    margin-right: 0;
}

.navbar a.active::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: .2rem;
    background-color: var(--color1);
}
.header.sticky  .navbar a::before {
    background: var(--color5);
    opacity: 0.7;

}
/* Download Button */
.nav-button button {
    font-weight: 500;
    padding: 12px 20px;
    background: var(--color7);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background 0.4s, color 0.4s;
    display: flex;
    align-items: center;
    transition: 0.4s ease;
}

.nav-button button i {
    margin-left: 10px;
    font-size: 16px;
    transition: 0.4s ease;

}

.nav-button button:hover {
    background: var(--color2);
    color: var(--color1);

}

.nav-button button:hover i {
    color: var(--color1);

}

/*Dark Mode Icon */
#darkMode-icon {
    font-size: 2.4rem;
    color: var(--color1);
    cursor: pointer;
    margin-left: 2rem;
}
.header.sticky #darkMode-icon {
    color:var(--color5);
    opacity: .9;
}

.header-right {
    display: flex;
    align-items: center;
}


/* Home Section*/

.home {
    display: flex;
    align-items: center;
    margin-left: 10%;
}

.home .home-content {
    max-width: 44rem;

}

.home-content h3 {
    font-size: 3rem;
    font-weight: 700;
    line-height: .3;
    color: var(--color6);
}

.home-content h1 {
    font-size: 5.6rem;
    font-weight: 700;
    margin-bottom: .3rem;
    white-space: nowrap;
    color: var(--color6);
}
.home-content h1 span{
    color: var(--color5);
}


.home-content p {
    font-size: 1.8rem;
    width: 550px;
    text-align: justify;
}

.home-content .social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--color5);
    border-radius: 50%;
    box-shadow: 0 .2rem .5rem var(--color2);
    font-size: 2rem;
    color: var(--color5);
    margin: 2.5rem 1.5rem 3rem 0;
    transition: .5s ease;
}

.home-content .social-media a:hover {
    background: var(--color5);
    color: var(--color1);
}

.btn {
    display: inline-block;
    padding: 1.2rem 2.8rem;
    background: var(--color5);
    margin-right: 1.5rem;
    border-radius: 10px;
    box-shadow: 0 .2rem .5rem var(--color2);
    font-size: 1.6rem;
    color: var(--color1);
    letter-spacing: .1rem;
    font-weight: 600;
    border: .2rem solid transparent;
    transition: 0.5s ease;
}

.btn:hover {
    background: transparent;
    color: var(--color5);
    border-color: var(--color5);

}

.btn i {
    margin-left: 1rem;
}

/* Profession Segment */
.home .techs-container {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home .techs-container .techs-box {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home .techs-box .techs {
    position: absolute;
    left: 3rem;
    display: flex;
    color: var(--color5);
    transform: rotate(calc(360deg / 5 * var(--i)));
    transform-origin: 450px;
    background: var(--color7);
    padding: 13px 0
}

.home .techs-box .techs i {
    margin-right: 15px;
}

.home .techs i {
    font-size: 3.8rem;
}

.home .techs {
    font-size: 3rem;
    line-height: 1;
    font-weight: 600;
}

.home .techs-box .circle {
    width: 72.91%;
    height: 72.91%;
    border: 3px solid var(--color5);
    border-radius: 50%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
    /* coloca o círculo atrás do texto*/
}

.home .techs-container .overlay {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 95%;
    background: var(--color5);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%, 50% 50%);
}

.home-img img {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 30%;
    pointer-events: none;
    transform: scaleX(-1);
}

/* About Section*/

#about {
    padding: 80px 0;
    margin-top: 7%;
    color: var(--color6);
}

.about-content .row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 15rem;

}

.about-content .row .about-col-1 {
    flex-basis: 20%;
}

.about-content .row .about-col-1 img {
    border-radius: 15px;
    max-width: 100%;
    height: auto;
}

.about-content .about-col-2 {
    flex-basis: 40%;
    margin-left: 4rem;
}

.about-content .row .subtitle-about {
    font-size: 5rem;
    font-weight: 600;
}

.about-content .about-col-2 span {
    color: var(--color5);
}
.about-content .about-col-2 .about-description{
    align-items: justify;
}

.about-content .row .about-description {
    font-size: 1.8rem;
}

.tab-titles {
    display: flex;
    margin: 20px 0 40px;
}

.tab-links {
    margin-right: 50px;
    font-size: 1.8rem;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after {
    content: '';
    width: 0;
    height: 3px;
    background: var(--color5);
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: .5s;
}

.tab-links.active-link::after {
    width: 50%;
}

.tab-contents .stacks-img {
    width: 50px;
    max-width: 100%;
    height: auto;
}

.tab-contents .ul-stacks, .tab-contents .ul-tools {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 calc(20% - 10px);
    padding: 0;
    margin: 0;
}

.tab-contents .ul-stacks li, .tab-contents .ul-tools li {
    list-style: none;
    margin-right: 10px;
    flex: 1 1 calc(20% - 10px);
    margin: 30px 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}
.tab-contents .ul-stacks li p, .tab-contents .ul-tools li p {
    margin-top: 10px;
    font-size: 1.5rem;
    font-weight: 600;
}
.tab-contents .ul-education,.tab-contents .ul-languages li, .tab-contents .ul-curiosities li {
    list-style: none;
    margin: 10px 0;
    font-size: 1.7rem;
}
.tab-contents .ul-education li span, .tab-contents .ul-languages li span, .tab-contents .ul-curiosities li span {
    color: var(--color5);
    font-size: 2rem;
    font-weight: 500;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab {
    display: block;
}

/* Projects Design */

.portfolio {
    padding-bottom: 10rem;
    padding: 2rem;
}
.portfolio h2 {
    margin-top: 6.59rem;
    padding: 2rem 0 1rem;
    font-size: 5rem;
    font-weight: 600;
    display: flex;
    justify-content: center;
}
.portfolio .portfolio-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2.5rem;
    justify-content: space-between; 
    padding: 0 2rem;
}
.portfolio-container .portfolio-box {
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, .1);
    overflow: hidden;
    width: 89%;
    height: 90%;
    margin: 0 auto; 
}
.portfolio-box img {
    width: 100%;
    transition: .5s ease;
}
.portfolio-box:hover img{
    transform: scale(1.1);
}
.portfolio-box .portfolio-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, .1), var(--color5));
    color: var(--color1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 4rem;
    opacity: 0;
    transition: .5s ease;
}
.portfolio-box:hover .portfolio-layer{
    opacity: 1;
}
.portfolio-layer h4 {
    font-size:  3rem;
}
.portfolio-layer p {
    font-size: 1.6rem;
    margin: .3rem 0 1rem;
}
.portfolio-layer a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: var(--color1);
    border-radius: 50%;
    margin: 0 2rem;
}
.portfolio-layer a i {
    font-size: 2.5rem;
    color: var(--color6);  
}

/*Contact Section Design*/


