@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --main-color:#64FFDA;
    --secondary-color:#048D3F;
    --tertiary-color:#919090;
    --white:white;
    --black:black;
    --hover-button: #048d3fc1;

    --main-font:'Rubik', sans-serif;

}
main {
    background-image: url(images/pexels-adrien-olichon-2387793.png);
    position: cover;
    background-size: cover;
    background-attachment: fixed; 
}
html {
    scroll-behavior: smooth;
}
html,body {
    background-color: black;
    font-family: var(--main-font);
    color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    min-height:100vh;
}
header {
    position: fixed;
}
section {
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 100vh;
}
.flags {
    margin-top: 10px;
    margin-left: 10px;
}
.bar {
    width: 100%;
    position: fixed;
    top: 10px;
    left:0;
    z-index: 9999;
    transition: all 300ms ease-in-out;
}
#section1 {
    width: 100vw;
    height: 100vh;
}
.nav_links {
    list-style: none;
}
.nav_links li {
    display: inline-block;
    padding: 0px 20px;

}
.nav_links li a {
    transition: all 0.3s ease 0s;
    text-decoration: none;
    color: white;
    font-size: 1.3em;
    background-color: #048d3f60;
    padding: 9px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-size: 1em;
}
.nav_links li a:hover {
    background-color: var(--hover-button);
}

nav {
    text-align: right;
    margin: 10px 10px 0 0;
}
.about_front {
    padding: 5px;
    font-size: 1em;
    font-weight: 200;
    text-align: justify;
}
.flex_right h2 {
    color: var(--main-color);
    font-weight: 200;
}
.flex_right h1 {
    font-weight: bolder;
}
.flex_right h1, h2 {
    line-height: 1em;
}
.flex_container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0; bottom: 0;   
}
.flex_left {
    margin: 0 20px 0 20px;
    padding: 5px;
    overflow: hidden;
}
.flex_left img {
   -webkit-transition: -webkit-transform .3s ease;
   transition: transform .3s ease;
}
.flex_left:hover img {
    -webkit-transform: scale(1.1);
   transform: scale(1.1);
}
  
.flex_right {
    width: 35%;
}
button {
    padding: 9px 25px;
    background-color: var(--secondary-color);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-size: 1em;
    margin-top: 30px;
    margin-right: 30px;  
}

button:hover {
    background-color: var(--hover-button);
}
.buttons {
    padding-top:20px
    
}
.cta1 {
    padding-left:100px;
}
.cta2 {
    padding-left:80px;
}
#section2 {
    background-color: black;
    min-height: 100vh;
    color: white;
}
#section3 {
    background-color: white;
    min-height: 100vh;
    color: black;
}
#section4 {
    background-color: black;
    min-height: 100vh;
    color: white;
}
.title2, .title3, .title4 {
    text-align: center;
    margin: auto;
    font-size: 3em;
    font-weight: bolder;
    text-transform: uppercase;
}


.coded {
    text-decoration: none;
    color:var(--tertiary-color) ;
}
.coded:hover {
    color: var(--main-color);
    text-decoration: underline;
    cursor: pointer;
}

footer {
    padding-bottom: 0;
    margin-top: auto;
    padding-bottom: 10px;
    font-weight: 200;
    color: var(--tertiary-color);
    
}
.copyright {
    float: right;
    padding-right: 20px;
}
.socialfooter {
    text-decoration: none;
    float: left;
    padding-left: 20px;
    color:var(--tertiary-color);
}
.socialfooter:hover {
    color: var(--main-color);
    text-decoration: underline;
    cursor: pointer;
    
}
/* Titles animation */

.title1, .title2, .title3, .title4 {
    visibility: hidden;
}

/*Sections animation */

.portfolio{
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 2.5s;
}
.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}
@media(prefers-reduced-motion){
    .content {
        transition: none;
    }
}
/* quando eu colocar as fotos dos projetos usar isso pra animar :

.logo {
    display:flex;
}
.logo:nth-child(2) {
    transition-delay:200ms;
}
.logo:nth-child(3) {
    transition-delay:400ms;
}
.logo:nth-child(4) {
    transition-delay:600ms;
}
*/